body
	background-color #DEDEDE
	div.container
		.cabeza
			height 300px
			width 100%
			.banner
				img
					height 265px
					width 100%
			.img
				background-color #ffffff
				border 6px solid #ffffff
				border-radius 75px
				position absolute
				height 150px
				width 150px
				left 200px
				top 150px
				img
					height 150px
					width 150px
					border-radius 75px
			.menu
				ul
					margin 10px 0 0 350px
					li
						display inline-block
						list-style none
						a
							border-bottom 3px solid blue
							color #000
							padding 6px 30px
							text-decoration none
					
		